.header {
  padding: 60px;
  text-align: center;
 
 background-image: url(https://i.blogs.es/4deb03/lenguajes-de-programacion-2020-jetbrains/450_1000.jpg);
  color: white;
  font-size: 30px;
}
.about{
  text-align: center;
  color: white;

  
}
.cuadro{
  background-color: #140033
}
.letter{
  color: white
}
.skills{
  text-align: center;

}
.skills{
  font-family: sans-serif;
  font-size: 200%;
  font-style: italic;
  background-color: #140033;
  color: white
}
.js{
 width: 100px
}
.angular{
  width: 120px

}
.html{
  width: 100px

  
}
.css{
  width: 120px

}
.node{
  width: 150px
}
.mongo{
  width: 140px
}
.redux{
  width: 230px

}
.native{
  width: 180px
}
.bootstrap{
  width: 170px
}
.img2{
  width: 800px
}
